ext/
voice/flite/
voice/pm*
voice/prompt*
voice/lpc*
voice/lab
voice/recording
voice/scratch
voice/sts
voice/syl
voice/v
voice/versions
voice/wrd
voice/festival/disttabs/
voice/festival/dur/
voice/festival/f0/
voice/festival/feats/
voice/festival/trees/
voice/festival/utts/
voice/festival/utts_hmm/
voice/etc/txt.*
voice/wav/
